* {
  margin: 0px;
  padding: 0px;
}

/* Nav Bar */
nav {
  display: flex;
  padding: 15px 0px;
  background-color: black;
  color: white;
  justify-content: center;
  align-items: center;
}

nav ul{
  display: flex;
  width: 40%;
  list-style: none;
}

nav li{
  margin: 0px 50px;
}

button{
  background-color: aqua;
  padding: 5px 30px;
}

/* Main Area */
.main{
  display: flex;
}

/* Left Column */
.left-column{
  flex: 3;
  background-color: white;
  height: 1000px;
}

.my-profile{
  height: 350px;
  width: 600px;
  margin: 50px 0px 0px 400px;
  background-color: white;
  border: 3px solid lightgray;
}

.blue-top{
  height: 25%;
  background-color: rgb(42, 172, 172);
}

.main-pic{
  margin-top: 40px;
  margin-left: 50px;
  height: 100px;
  border-radius: 50%;
}

.profile-content{
  margin: 50px;
  margin-top: 60px;
  color: black;
}

.icons{
  margin-right: 10px;
}

.location{
  height: 20px;
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.edit{
  height: 20px;
  margin-top: 20px;
  display: flex;
}

.education{
  height: 350px;
  width: 600px;
  margin: 50px 0px 0px 400px;
  background-color: white;
  border: 3px solid lightgray;
}

.grey-top{
  height: 20%;
  background-color: gray;
}

.white{
  margin-left: 50px;
  color: white;
  font-size: 50px;
}

.special-text{
  margin-top: 20px;
  margin-left: 50px;
}

.grey-text{
  color: gray;
  margin-left: 50px;
  margin-bottom: 20px;
}

.margin-left-50{
  margin-left: 50px;
}

/* Right Column */
.right-column{
  flex: 2;
  background-color: white;
}

.connection-requests{
  margin: 50px 0px 0px 50px;
  height: 250px;
  width: 300px;
  background-color: white;
  border: 3px solid lightgray;
}

.grey-top2{
  background-color: gray;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.connection-profile{
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

.profile-pic{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 20px;
}

.names{
  display: flex;
}

.circle{
  margin: 5px;
  height: 30px;
  width: 30px;
}

.your-connections{
  margin: 50px 0px 0px 50px;
  height: 450px;
  width: 300px;
  background-color: white;
  border: 3px solid lightgray;
}

.connection{
  display: flex;
  align-items: center;
}
